
/* General styles */

html {
  font-size: 18px;
  background-color: white;
  color: white;
}

body {
  font-family: Helvetica;
  line-height: 1.4em;
}

/* Header section styles */

.header {
  background-color: black;
}

.header .container {
  display: flex;
  align-items: center;
  /*padding: 12px 0 12px 0.5em;*/
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.header span {
  padding: 0.66rem 0;
}

/* Main section styles */

.container {
  width: 960px;
  margin: 0 auto;
}

.text-block {
  background-color: black;
}

/* Banner section styles */

.banner {
  display: flex;
  height: 25rem;
  background-image: url('../images/main-banner.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .text-block {
    width: 20rem;
    padding: 2rem 0 2rem 3rem;
    margin-top: 9rem;
}

h1,
h5 {
  font-weight: bold;
}

.banner h1 {
  font-size: 2rem;
  line-height: 1.2em;
  margin-top: 0.25rem;
}

/* Navigation section styles */

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
}
